


<div class="  container panel panel-default" style="margin-top: 25px">
  <div class="panel-body">
    <h3>Login</h3>
	<form>
  <div class="form-group">
    <label for="name">Email address:</label>
    <input type="name" class="form-control" id="name" ng-model="logindata.username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="logindata.password">
   </div>
  

  <div class="container">
	  <button type="submit" class="btn btn-default" ng-click="myLogin(logindata)">Submit</button>
    </form>
    </div>
  </div>

</div>